.listStyle {
  position: absolute;
  top: 85px;
  z-index: 9999;
  left: 30px;
  right: 45px;
  padding: 0 30px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 575px) {
  .listStyle {
    left: 40px;
    right: 40px;
    text-align: left;
  }
}
.items{
  cursor: pointer;
}