.formArea {
  position: relative;
}
.header {
  padding: 0 15px;
  margin: 0 0 20px;
}

.w100 {
  width: 100%;
  padding: 0 15px;
}

.formButton {
  float: right;
}

.formItem {
  margin: 0 !important;
}

@media only screen and (max-width: 575px) {
  .formButton {
    float: none;
    margin-top: 20px;
  }
}
