.formWrapper {
  /* width: 75%; */
  padding: 0 15px;
  margin: 0 auto;
}
.formArea {
  position: relative;
}
.header {
  padding: 0 15px;
  margin: 0 0 20px;
}

.w100 {
  width: 100%;
  padding: 0 15px;
}
.inputField {
  width: 75%;
  margin: 0;
}
.formButtonWrapper {
  width: 20%;
  margin: 0;
}
.formButton {
  float: right;
}
.description {
  color: #9d9d9d;
}
.infoList {
  padding: 0 30px 30px;
  margin-top: 60px;
}
.companyDetails {
  border-top: 1px solid #efefef;
  margin: 0 !important;
}
.map {
  height: 150px;
}
.companyContent {
  border-left: 1px solid #efefef;
  padding-top: 30px;
}
.formItem {
  margin: 0 !important;
}
@media only screen and (max-width: 991px) {
  .companyContent {
    border-left: none;
  }
}
@media only screen and (max-width: 575px) {
  .formWrapper {
    text-align: center;
  }
  .location {
    text-align: left;
  }
  .formButton {
    float: none;
    margin-top: 20px;
  }
  .w100 {
    margin: 0 !important;
  }
}
